.venv
.conda
.vscode
app/__pycache__
matriculas
backup-caracters-sintetics
/ocr/model-ocr-matricula/dades
/ocr/model-ocr-matricula/mejor_modelo_ocr.h5
/ocr/model-ocr-matricula/modelo_ocr.h5
/ocr/model-ocr-caracters/dades
/ocr/model-ocr-caracters/dataset_sintetico