.venv
.conda
matriculas
backup-caracters-sintetics
model-ocr-matricula/dades
model-ocr-matricula/mejor_modelo_ocr.h5
model-ocr-matricula/modelo_ocr.h5
model-ocr-caracters/dades
model-ocr-caracters/dataset_sintetico